jupyter
numpy
pandas
scikit-learn
langchain
langchain-core
langgraph
langsmith
spacy
nltk
transformers
fastapi
uvicorn[standard]
matplotlib
sentence-transformers
pydantic
python-dotenv
tensorflow
torch
scipy
psycopg
livekit-agents
livekit-plugins-silero
livekit-plugins-noise-cancellation~=0.2
livekit-agents[openai]~=1.0
PyJWT